@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
}

.contenedor{
    padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{

    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*header*/

header{
    width: 100%;
    height: 700px;
    background: #59C173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5D26C1, hsla(261, 61%, 69%, 0.582), hsla(135, 46%, 55%, 0.541)), url(./images/persona.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5D26C1, hsla(261, 61%, 69%, 0.582), hsla(135, 46%, 55%, 0.541)), url(./images/persona.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    text-align: right;
    padding: 30px 50px 0px 0px;
}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    transform: scale(1);
    transition: 1s;
    
}

nav > a:hover{
    text-decoration: underline;
    transform: scale(1);
    
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.textos-header h1{
    font-size: 50px;
    color: white;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.textos-header h3{
    font-size: 25px;
    font-weight: 300;
    color: white;
}

.wave > svg{
    position: absolute;
    bottom: 0;
    width: 100%;
}






.contenedor-mis-prod{
    display: flex;
    justify-content: space-evenly;
}

.imagen-productos{
    width: 45%;
    transition: 1s;
}

.imagen-productos:hover{
    transform: scale(1.2);
}


.sobre-mi .Contenido-Texto{
    width: 45%;

}

.Contenido-Texto h3{
    margin-bottom: 15px;
}


.Contenido-Texto h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 8px;
}

.Contenido-Texto p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/*Portafolio*/

.portfolio{
   
    background-color: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.hover-galeria img{
    width: 100px;
    color: #fff;

}

.hover-galeria p{
    color: #fff;
    font-weight: 600;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*clientes*/

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}


.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}



.mis-servicios{
    background-color: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-individual{
    width: 28%;
    text-align: center;
}

.servicio-individual img{
    width: 90%;
}
.servicio-individual h3{
    margin:  10px 0 ;
}

.servicio-individual p{
    font-weight: 300;
    text-align: center;
}


footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.contenido-footer{
    text-align: center;
}

.contenido-footer h4{
    color: #fff;
    border-bottom: 3px solid #642a73;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.contenido-footer p{
    color: #fff;
}

